body
{
    background: linear-gradient( rgb(255, 0, 0) 0%, rgb(255, 51, 0) 40%, rgb(255, 102, 0) 60%, rgb(255, 153, 0) 80%, rgb(255, 217, 0) 100%) 
}
#start-btn
{
    width: 40%;
} 
#camera
{
    width:360px;
    height: 250px;
    border:1px solid grey;
}
#logo_img
{
    width: 150px;
    border-radius: 100px;
}
#textbox
{
    width: 300px;
}
h1, h3, p
{
    color: white;
}
label
{
color: black;
}
